#carrossel {

}

.carrossel {
   opacity: 0;
   animation: moveUp 20s infinite;
   transition: all ease-in-out 500ms;
}

@keyframes moveUp {
   0% {
      opacity: 0;
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}

