.carr {
   opacity: 0;
}

.mvUp {
   animation: moveUp 2s;
   transition: all ease-in-out 500ms;
}
.mvOut {
   animation: moveOut 2s;
   transition: all ease-in-out 500ms;
}

@keyframes moveUp {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes moveOut {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}
