.slideLeft {
   animation-name: slideLeft;
   animation-duration: 1s;
   animation-play-state: paused;
}

.slideRigth {
   animation-name: slideRigth;
   animation-duration: 1s;
   animation-play-state: paused;
}

@keyframes slideLeft {
   from {
      margin-right: 1000px;
   }

   to {}
}

@keyframes slideRigth {
   from {
      margin-left: 1000px;
   }

   to {}
}

