.slideLeft {
   opacity: 0;
   animation-name: slideLeft;
   animation-duration: 2s;
   animation-play-state: paused;
}

.slideRigth {
   opacity: 0;
   animation-name: slideRigth;
   animation-duration: 2s;
   animation-play-state: paused;
}

@keyframes slideLeft {
   1% {
      margin-right: 4000px;
   }
   100% {}
}

@keyframes slideRigth {
   1% {
      margin-left: 4000px;
   }

   100% {}
}

